@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('../fonts/Quicksand.css');

body {
    /** font-family: 'Quicksand', sans-serif; */
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}
.landing-container {
    margin: auto;
    width: 600px;
}
.center-h {
    text-align: center;
    display: block;
}
.landing-neg-space {
    margin-top: 20vh;
    transition: all .5s;
}
.landing-hidden {
    margin-top: 53px;
}
#main-logo {
    cursor: pointer;
    height: 55px;
    transition: all .5s;
}
.landing-hidden #main-logo {
    height: 40px;
}
.keywords {
    margin-left: 52px;
}
.suggestions {
    margin-left: 42px;
}
.textbox-dest {
    padding-left: 50px;
    background: url('../drawables/textbox_dest.svg');
    background-color: #F0F0F0;
    border: none;
    border-color: transparent;
    border-radius: 13px;
    height: 51px;
    width: 465px;
    font-size: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.textbox-prefhotel {
    padding-left: 50px;
    background: url('../drawables/textbox_prefhotel.svg');
    background-color: #F0F0F0;
    border: none;
    border-color: transparent;
    border-radius: 13px;
    height: 51px;
    width: 465px;
    font-size: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.textbox-prefrestaurant {
    padding-left: 50px;
    background: url('../drawables/textbox_prefrestaurant.svg');
    background-color: #F0F0F0;
    border: none;
    border-color: transparent;
    border-radius: 13px;
    height: 51px;
    width: 465px;
    font-size: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.suggestion {
    box-sizing: border-box;
    border-radius: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.sg-purple {
    background: rgba(231, 49, 125, 0.19);
    border: 2px solid rgba(231, 49, 125, 0.85);
    color: rgba(231, 49, 125, 0.85);
}
.sg-purple:hover {
    background: rgba(231, 49, 125, 0.85);
    border: 2px solid transparent;
    color: white;
}
.sg-orange {
    background: rgba(231, 136, 49, 0.19);
    border: 2px solid rgba(231, 136, 49, 0.85);
    color: rgba(231, 136, 49, 0.85);
}
.sg-orange:hover {
    background: rgba(231, 136, 49, 0.85);
    border: 2px solid transparent;
    color: white;
}
a {
    text-decoration: none;
}

#search-text-bg {
    height: 69px;
    line-height: 69px;
    width: 1px;
    opacity: 1;
    transition: all .5s;
    background: #CCF5B8;
    color: rgba(0, 0, 0, 0.49);
    font-size: 20px;
    margin-right: -34.5px;
    border-top-left-radius: 69px;
    border-bottom-left-radius: 69px;
    /*z-index: -1;*/
    padding-left: 25px;
    cursor:pointer;
    pointer-events: auto;
}
#search-button:hover #search-text-bg {
    width: 105px;
    line-height: 69px;
    margin-right: -34.5px;
}
#search-text {
    margin: 0;
    opacity: 0;
    font-size: 10px;
    transition: all .37s ease-out;
}
#search-button:hover #search-text {
    opacity: 1;
    font-size: 22px;
}
#page-zero {
    transition: all .35s;
    opacity: 1;
}
.landing-hidden #page-zero {
    opacity: 0;
    pointer-events: none;
}

.results-page {
    opacity: 0;
    transition: all .5s ease-in;
}
.results-shown .results-page {
    opacity: 1;
}
.actionbar-back {
    position: fixed;
    width: 18px;
    height: 29px;
    left: 63px;
    top: 63px;
    background: url('../drawables/actionbar_back.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: all .5s ease-in;
}
.results-shown .actionbar-back {
    opacity: 1;
}
.actionbar-info {
    position: absolute;
    width: 9px;
    height: 25px;
    right: 67px;
    top: 65px;
    background: url('../drawables/actionbar_info.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: all .5s ease-in;
}
.results-shown .actionbar-info {
    opacity: 1;
}
#results-contents {
    opacity: 0;
    transition: opacity .5s ease-in;
    width: calc(100% - 175px);
    margin-top: calc(-185px - 16rem);
    margin-left: 118px;
}
#results-contents a:link {
    color: #000;
}
#results-contents a:visited {
    color: rgb(126, 126, 126);
}
#results-contents a:hover {
    color: #73a836;
}
#results-contents a:active {
    color: #557c28;
}
#location-label {
    width: 60vh;

    position: fixed;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; /*TODO: UPDATE!!!*/
    line-height: 30px; /*TODO: UPDATE!!!*/
    text-align: center;

    color: rgba(0, 0, 0, 0.32);

    transform: rotate(-90deg);
    left: 63px;
    top: 50vh;
    margin-left: calc(5px - 30vh);

    transition: all .5s, width 0s;
}
.results-shown #results-contents {
    opacity: 1;
}

.result-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
    height: 12.5rem;
    margin-left: 0px;
    margin-bottom: 45px;
}
.obj-thumb {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    height: 100%;
    width: auto;
    background-color: #bbb;
}
.obj-description {
    margin-top: -12.5rem;
    margin-left: 216px;
    margin-right: 16px;
}
.obj-star-ratings {
    margin-top: -0.8rem;
    margin-bottom: 2.7em;
}
/**@media screen and (max-width: 600px) {
    .landing-container {
        width: 100vw;
    }
}*/

@media all and (max-width: 768px) {
    .result-card {
        height: 12.5rem;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    #results-contents {
        margin: 0;
        margin-top: calc(-185px - 16rem);
        width: 100%;
    }
    .landing-neg-space {
        margin-top: 4em !important;
    }
    .landing-container {
        width: 100%;
    }
    .textbox-dest {
        width: calc(100% - 2.8em);
        padding-left: 2.1em;
        height: 2em;
        border-radius: 0.6em;
    }
    .textbox-prefhotel {
        width: calc(100% - 2.8em);
        padding-left: 2.1em;
        height: 2em;
        border-radius: 0.6em;
    }
    .textbox-prefrestaurant {
        width: calc(100% - 2.8em);
        padding-left: 2.1em;
        height: 2em;
        border-radius: 0.6em;
    }
    label {
        margin-left: calc(2em + 14px) !important;
    }
    .keywords {
        margin-left: 8px;
    }
    .suggestions {
        margin-left: 2px;
    }
    #search-button {
        margin-right: 2px !important;
    }
    .actionbar-back {
        /* position: absolute; */
        top: calc(2em + 10px);
        left: 34px;

        background-color: #fff;
        border-radius: 200px;
        margin-top: -8px;
        margin-left: -13px;
        padding-top: 13px;
        padding-right: 13px;
        padding-left: 13px;
        background-position: center;
        background-position-x: 11px;
        background-size: initial;
    }
    .actionbar-info {
        top: calc(2em + 10px);
        right: 36px;
    }
    #location-label {
        position: absolute;
        transform: rotate(0deg);
        top: 63px;
        left: 0px;
        width: 100vw;
        margin-left: 0px;
    }
    .landing-hidden #main-logo {
        height: 2.3em;
    }
    .landing-hidden {
        margin-top: 2em !important;
    }
    .obj-thumb {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    .obj-description {
        margin-top: -200px;
        margin-left: 216px;
        margin-right: 16px;
    }
}




.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
  }


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

