@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('../fonts/Quicksand.css');

body {
    /** font-family: 'Quicksand', sans-serif; */
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    overflow-y: scroll;
}
button,
textarea,
input,
select,
a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.landing-container {
    margin: auto;
    width: 600px;
}
.center-h {
    text-align: center;
    display: block;
}
.landing-neg-space {
    margin-top: 20vh;
    transition: all .5s;
}
.landing-hidden {
    margin-top: 53px;
}
#main-logo {
    cursor: pointer;
    height: 55px;
    transition: all .5s;
}
.landing-hidden #main-logo {
    height: 40px;
}
.keywords {
    margin-left: 52px;
}
.suggestions {
    margin-left: 42px;
}
.textbox-dest {
    padding-left: 50px;
    background: url('../drawables/textbox_dest.svg');
    background-color: #F0F0F0;
    border: none;
    border-color: transparent;
    border-radius: 13px;
    height: 51px;
    width: 465px;
    font-size: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.textbox-prefhotel {
    padding-left: 50px;
    background: url('../drawables/textbox_prefhotel.svg');
    background-color: #F0F0F0;
    border: none;
    border-color: transparent;
    border-radius: 13px;
    height: 51px;
    width: 465px;
    font-size: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.textbox-prefrestaurant {
    padding-left: 50px;
    background: url('../drawables/textbox_prefrestaurant.svg');
    background-color: #F0F0F0;
    border: none;
    border-color: transparent;
    border-radius: 13px;
    height: 51px;
    width: 465px;
    font-size: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.suggestion {
    box-sizing: border-box;
    border-radius: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.sg-purple {
    background: rgba(231, 49, 125, 0.19);
    border: 2px solid rgba(231, 49, 125, 0.85);
    color: rgba(231, 49, 125, 0.85);
}
.sg-purple:hover {
    background: rgba(231, 49, 125, 0.85);
    border: 2px solid transparent;
    color: white;
}
.sg-orange {
    background: rgba(231, 136, 49, 0.19);
    border: 2px solid rgba(231, 136, 49, 0.85);
    color: rgba(231, 136, 49, 0.85);
}
.sg-orange:hover {
    background: rgba(231, 136, 49, 0.85);
    border: 2px solid transparent;
    color: white;
}
a {
    text-decoration: none;
}

#search-text-bg {
    height: 69px;
    line-height: 69px;
    width: 1px;
    display: block;
    transition: all .5s;
    background: #CCF5B8;
    color: rgba(0, 0, 0, 0.49);
    font-size: 20px;
    margin-right: -34.5px;
    border-top-left-radius: 69px;
    border-bottom-left-radius: 69px;
    /*z-index: -1;*/
    padding-left: 25px;
    cursor:pointer;
    pointer-events: auto;
}
#search-button:hover #search-text-bg {
    width: 105px;
    line-height: 69px;
    margin-right: -34.5px;
}
#search-text {
    margin: 0;
    opacity: 0;
    font-size: 10px;
    transition: all .37s ease-out;
}
#search-button:hover #search-text {
    opacity: 1;
    font-size: 22px;
}
#page-zero {
    transition: all .35s;
    visibility: visible;
    opacity: 1;
}
.landing-hidden #page-zero {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.results-page {
    display: none;
    transition: all .5s ease-in;
}
.results-shown .results-page {
    display: block;
}
.actionbar-back {
    position: fixed;
    width: 18px;
    height: 29px;
    left: 63px;
    top: 63px;
    background: url('../drawables/actionbar_back.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    transition: all .5s ease-in;
}
.results-shown .actionbar-back {
    display: block;
}
.actionbar-info {
    position: absolute;
    width: 29px;
    height: 29px;
    right: 63px;
    top: 63px;
    background: url('../drawables/actionbar_user.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .1s ease-in;
}
.actionbar-info:hover {
    box-shadow: 0px 0px 8px rgb(91 197 6 / 70%);
    border-radius: 18px;
}
#results-contents {
    display: none;
    transition: opacity .5s ease-in;
    width: calc(100% - 175px);
    margin-top: calc(-185px - 16rem);
    margin-left: 118px;
}
#results-contents a:link {
    color: #000;
}
#results-contents a:visited {
    color: rgb(126, 126, 126);
}
#results-contents a:hover {
    color: #73a836;
}
#results-contents a:active {
    color: #557c28;
}
#location-label {
    width: 60vh;

    position: fixed;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; /*TODO: UPDATE!!!*/
    line-height: 30px; /*TODO: UPDATE!!!*/
    text-align: center;

    color: rgba(0, 0, 0, 0.32);

    transform: rotate(-90deg);
    left: 63px;
    top: 50vh;
    margin-left: calc(5px - 30vh);

    transition: all .5s, width 0s;
}
.results-shown #results-contents {
    display: block;
}

.result-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
    height: 12.5rem;
    margin-left: 0px;
    margin-bottom: 45px;
}
.obj-thumb {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    height: 100%;
    width: auto;
    background-color: #bbb;
}
.obj-description {
    margin-top: -12.5rem;
    margin-left: 216px;
    margin-right: 16px;
}
.obj-star-ratings {
    margin-top: -0.8rem;
    margin-bottom: 2.7em;
}
.like-button {
    float: right;
    margin-top: -3.5px;
    margin-right: 20px;
}
/**@media screen and (max-width: 600px) {
    .landing-container {
        width: 100vw;
    }
}*/

.element-hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0.3s, opacity 0.2s ease-in !important;
}
.user-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 300px;
    height: 153px;
    top: 107px;
    right: 45px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.07);
    padding: 19px;
    z-index: 5;
    transition: visibility 0s, opacity 0.2s ease-in;
}
.user-menu-link {
    display: inline-flex;
    align-items: center;
    height: 2.3em;
    width: calc(100% - 8px);
    padding-left: 8px;
    transition: background-color .2s ease-in, border-radius .2s ease-in;
}
.user-menu-link:hover {
    background-color: #CCF5B8;
    border-radius: 8px;
}
.login-input {
    background: #f0f0f0;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    padding: 8.5px;
    font-size: 1em;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 10px;
}
.login-button {
    display: inline-block;
    width: calc(50% - 8px);
    border-radius: 10px;
    border-color: #CCF5B8;
    border-width: 2px;
    background-color: #fff;
    color: #6e6e6e;
    height: 2em;
    border-style: solid;
    font-size: 1em;
    margin-top: calc(96px - 3em);
    cursor: pointer;
    transition: background-color .1s ease-in, visibility 0s, opacity 0.2s ease-in;
}
.login-button:hover {
    background-color: #CCF5B8;
    
}
.user-menu a, a:visited, a:active, a:hover {
    color: inherit;
}
.empty-text {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    width: calc(100% - 118px);
}
#loading-indicator {
    z-index: -5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 87px;
    position: fixed;
    width: calc(100% - 280px);
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(131 235 189);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
  

@media all and (max-width: 768px) {
    .result-card {
        height: 12.5rem;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    #results-contents {
        margin: 0;
        margin-top: calc(-185px - 16rem);
        width: 100%;
    }
    .landing-neg-space {
        margin-top: 6em !important;
    }
    .landing-container {
        width: 100%;
    }
    .textbox-dest {
        width: calc(100% - 2.8em);
        padding-left: 2.1em;
        height: 2em;
        border-radius: 0.6em;
    }
    .textbox-prefhotel {
        width: calc(100% - 2.8em);
        padding-left: 2.1em;
        height: 2em;
        border-radius: 0.6em;
    }
    .textbox-prefrestaurant {
        width: calc(100% - 2.8em);
        padding-left: 2.1em;
        height: 2em;
        border-radius: 0.6em;
    }
    label {
        margin-left: calc(2em + 14px) !important;
    }
    .keywords {
        margin-left: 8px;
    }
    .suggestions {
        margin-left: 2px;
    }
    #search-button {
        margin-right: 2px !important;
    }
    .actionbar-back {
        /* position: absolute; */
        top: calc(2em + 10px);
        left: 34px;

        background-color: #fff;
        border-radius: 200px;
        margin-top: -8px;
        margin-left: -13px;
        padding-top: 13px;
        padding-right: 13px;
        padding-left: 13px;
        background-position: center;
        background-position-x: 11px;
        background-size: initial;
    }
    .actionbar-info {
        top: calc(2em + 8px);
        right: 36px;
        z-index: 5;
    }
    .user-menu {
        width: calc(100% - 38px);
        right: 0px;
        font-size: 1.3em;
        height: 8.7em;
        background-color: #fff;
    }
    .login-button {
        width: calc(50% - 9px);
    }
    .cover-main-content {
        display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        width: 104vw;
        height: 104vh;
        background-color: rgba(0, 0, 0, 0.349);
        z-index: 4;
        margin: 0;
        padding: 0;
        margin-left: -8px;
        margin-top: -8px;
    }
    .element-visible {
        opacity: 1 !important;
        display: inline-flex !important;
        place-items: flex-end;
    }
    .empty-text {
        width: auto;
    }
    #location-label {
        position: absolute;
        transform: rotate(0deg);
        top: 63px;
        left: 0px;
        width: 100%;
        margin-left: 0px;
    }
    .landing-hidden #main-logo {
        height: 2.3em;
    }
    .landing-hidden {
        margin-top: 2em !important;
    }
    .obj-thumb {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    .obj-description {
        margin-top: -200px;
        margin-left: 216px;
        margin-right: 16px;
    }
    .like-button {
        margin-right: auto;
    }
    #loading-indicator {
        margin-right: 0px;
        width: 100%;
    }
    #loading-text {
        max-width: calc(100vw - 120px);
    }
}




.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
  }


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

